/* CSS Document */

div.quick_child {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0.3em 0;  
  margin: 0.2em 0;
}

div.quick_child_prev {
  float: left;
  width: 48%;
}

div.quick_child_up {
  float: left;
  width: 4%;
}


div.quick_child_next {
  float: right; 
  text-align: right;
  width: 48%;
}

div.quick_child_clear {
  clear: both;	
}

div.quick_child_children {
  clear: both;	
  padding: 1em;
}

div.quick_child_children li {
  list-style: none none;   
}

